main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-list-container {
  align-self: stretch;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  grid-auto-rows: 350px;
  gap: 1rem;
  justify-items: center;
  margin: 0 3%;
}

.load-more-button {
  width: 30%;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 2.5%;
}

.dialogModal {
  position: absolute;
  top: 25px;
  left: 50px;
}
